
label{
  background-color: darkgrey;
  width: 100%;
  border-radius: 1ch;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid-feedback{
  background-color: white;
  width: 100%;
  border-radius: 1ch;
  text-align: center;
}
